                    <div class="card-body">
                        <h5 class="card-title text-center">Passwort &auml;ndern</h5>
                        <p>W&auml;hlen Sie ein neues Passwort.</p>
                        <form action="?page=changePassword" method="post" autocomplete="off">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Altes Passwort" name="oldPassword" minlength="1" maxlength="20">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Neues Passwort" name="newPassword" minlength="1" maxlength="20">
                            </div>
				    <div class="form-group">
                                <input type="password" class="form-control" placeholder="Neues Passwort wiederholen" name="newPasswordRepeat" minlength="1" maxlength="20">
                            </div>
                            <button type="submit" id="passwordSubmit" class="btn btn-primary float-right">Best&auml;tigen</button>
                        </form>
				<a href="?page=menu"><button type="button" class="btn btn-primary float-left">Zurück zum Startmen&uuml;</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
