<body>
  <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Fehler</h5>
                        <p>Ein Fehler ist aufgetreten.</p>
                        <a href="?page=menu"><button type="button" class="btn btn-primary float-left">Zurück zum Startmen&uuml;</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
