<body>
  <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Abmeldebestätigung</h5>
                        <p>Sie wurden erfolgreich ausgelogt!</p>
                        <a href="login.html"><button type="button" class="btn btn-primary float-right">Zurück zur Anmeldung</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>