<body>
  <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Menü</h5>
                        <div class="text-center w-100 mb-2">&lt;&lt;Sie sind angemeldet als {{user}}&gt;&gt;</div>
                        <a href="?page=appointmentAdd"><button class="btn btn-dark w-100 my-1">Neuer Termin</button></a>
                        <a href="?page=appointments"><button class="btn btn-dark w-100 my-1">Terminliste</button></a>
                        <button class="btn btn-dark w-100 my-1">Passwort ändern</button>
                        <button class="btn btn-primary float-right mt-2"><a class="text-white" href="?page=logout">Logout</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>