                    <div class="card-body">
                        <h5 class="card-title text-center">Speicherbestätigung</h5>
                        <p>Die Änderungen wurden gespeichert!</p>
                        <a href="menue.html"><button type="button" class="btn btn-primary float-right">Zurück zum Menü</button></a>
                        <a href="terminanlegen.html"><button type="button" class="btn btn-primary float-left">Zurück</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>